<nav>
    <ul class="menuPrincipal">
        <li><a routerLink="home" placement="top" ngbTooltip="Tooltip on top">home</a></li>
        <li  placement="top" ngbTooltip="Tooltip on top"><a routerLink="sobreElProyecto">Proyecto</a></li>
        <li>
            <a routerLink="pruebas">
            Pruebas
            <ul>
                <li><a routerLink="firebase/crud">FIREBASE - crud</a></li>
                <li>CHARTS</li>
            </ul>
            </a>
        </li>
        
      <!-- <li class="nav-item dropdown"> -->
      <li ngbDropdown class="d-inline-block">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">P Dropdown</a>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Separated link</a>
        </div>
      </li>
      <li>
        x
        <div ngbDropdown class="d-inline-block">
          <div ngbDropdownToggle>Toggle dropdown</div>
          <div ngbDropdownMenu>
            <div ngbDropdownItem>Action - 1</div>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>
      </li>
    </ul>
</nav>

<!-- 
    https://www.w3schools.com/howto/howto_js_sidenav.asp

    https://www.w3schools.com/howto/howto_css_dropdown.asp
    (el tema del css)
 -->