ul.menuPrincipal{
    background-color: darkgray;
    border-radius: 8px 0px 0px 8px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, .5);
    padding: 8px;
    text-decoration: none;
}

ul li{   text-decoration: none; list-style: none; cursor: pointer;   }

ul.menuPrincipal *{ margin: 0px; padding: 0px;  }