
<div class="container">

    <article> 
        <div class="row">       
            <div class="col-12">
                <h1>Configuracion basica</h1>
                <p>Algunos detalles.</p>
                <hr>
            </div>
            <div class="col-4">
                <h3>Node</h3>
                <p>Version: 10</p>
                <p>Instalacion: .exe</p>
                <p>Referencia: https://nodejs.org/en/</p>
            </div>
            <div class="col-4">
                <h3>Angular</h3>
                <p>Version: 8</p>
                <p>Instalacion: npm install -g @angular/cli</p>
                <p>Referencia: https://angular.io</p>
            </div>
            <div class="col-4">
                <h3>Bootstrap</h3>
                <p>Version: 4</p>
                <p>Instalacion: npm install --save @ng-bootstrap/ng-bootstrap</p>
                <p>Referencia: https://ng-bootstrap.github.io/#/home</p>
                <p>
                    Detalle: con esta version no es necesario instalar jquery, popper y demas. Lo que si hay que configurar el CSS en el index y los estilos en angular.json
                </p>
                <p>UOPS: no recuerdo si instale 'npm install bootstrap'</p>
            </div>
        </div>
    </article>
        
    <article>
        <div class="row">
            <div class="col-12">
                <h1>Firebase</h1>
                <p>Algunos detalles para trabajar con esta db...</p>
                <hr>
            </div>
            <div class="col-4">
                <h3>Firebase</h3>
                <p>Version: x</p>
                <p>Instalacion: x</p>
                <p>Referencia: https://firebase.google.com/</p>
                <p>
                    Detalle: esta es la base en si.
                </p>
            </div>
            <div class="col-4">
                <h3>angularfire2</h3>
                <p>Version: 5.2.1</p>
                <p>Instalacion: npm install -g angularfire2</p>
                <p>Referencia: https://github.com/angular/angularfire2</p>
                <p>
                    Detalle: libreria para conectar con FIREBASE.
                </p>
            </div>
        </div>
    </article>

</div>
